*{
    margin: 0;
    padding: 0;

}
html{
  width: 100%;
    height: 100%;
    font-size: 10px;
   
}
body{
    margin: 0;
    font-size: 2rem;
    flex: 1;
    min-height: 100vh;
    width: 100%;
}
.header{
    position: fixed;
    top: 0;
    width: 99%;
    height: 61px;
    border: 1px solid #f1f1f1;
    display: flex;
    z-index: 100;
    background-color: #fff;
}
.choose li{
  list-style: none;
  float: left;
  margin:0px 5px;
}
input{
  position: absolute;
  height: 32px;
  left: 72%;
  border-radius: 5px;
  outline-style:none;
}
.login_register{
  position: absolute;
  left: 88%; 
}
.clock{
    position: fixed;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    border: 2PX solid white;
    padding: 2rem;
    left: 80%;
    transform: translateY(100px);
    
    box-shadow: 0 0 0 4px rgba(0,0,0,.1),
    inset 0 0 0 3px #efefef,
    inset 0 0 5px black,
    0 0 10px rgba(0,0,0,2);
}
.clock-face{
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px)
}
.hand{
    /* width: 50%; */
    
    background-color: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
}
.circle{
    width: 10px;
    height: 10px;
    background-color: black;
    top: 50%;
    left: 48%;
    position: absolute;
    border-radius: 50%;
}
.hour-hand{
    height: 6px;
    width: 25%;
    left: 25%;
}
.min-hand{
    height: 4px;
    width: 35%;
    left: 15%;
}
.second-hand{
    height: 2px;
    width: 50%;
}
.context{
  display: inline-flexbox;
  align-items: flex-start;
  border: 1px solid #ecd7d7;
  width: 55%;
  /* height: 5rem; */
  margin: 0 auto;
  position: relative;
  top: 70px;
  overflow: hidden;
}
.context-box{
  width: 100%;
  border: 1px solid #f1f1f1;
  overflow: hidden;
}
.action-lists li{
  list-style: none;
  float: left;
  margin: 0;
}
.action-lists li img{
  width: 32px;
  height: 24px;
}


.beianinfo {
  position: absolute;
  font-size: 1rem;
  left: 50%;
  bottom: 0px;
}